$max-width: 1200px;

$md: 768px;
$xl: 1280px;

$syntax-theme-background: #2b2c2f;
// $syntax-theme-background-hover: #414247;

:root {
    --header-height: 4rem;

    --font-family-sans: "Fira Sans", sans-serif;
    --font-family-mono: "Fira Mono", monospace;
}