[package]
name = "ranim"
description = "An animation engine inspired by Manim"
repository = "https://github.com/AzurIce/ranim"
version = "0.0.0"
edition = "2021"
readme = "README.md"
license = "MIT"
keywords = ["animation", "manim"]

[workspace]
members = ["packages/*", "xtasks/*"]

[workspace.dependencies]
ranim = { path = "." }
ranimpy = { path = "packages/ranimpy" }

[dependencies]
# ranim_derive.workspace = true
async-channel = "2.3.1"
bytemuck = { version = "1.20.0", features = ["derive"] }
env_logger = "0.11.6"
glam = { version = "0.30.0", features = ["bytemuck"] }
image = "0.25.5"
itertools = "0.14"
log = "0.4.25"
pollster = "0.4.0"
uuid = { version = "1.13.2", features = ["v4"] }
wgpu = "24.0.1"
anyhow = "1.0.95"
usvg = "0.44.0"
regex = "1.11.1"
wgpu-profiler = "0.21.0"
indicatif = "0.17.11"
color = "0.2.3"

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3
