{% extends "layouts/base.html" %}
{% block main %}
    <aside class="side left">
      {% block left_side %}
      {% endblock left_side %}
    </aside>

    <div class="content container">
      {% if section %}
      {{ public_draft::warning(section=section) }}
      {% elif page %}
      {{ public_draft::warning(section=page) }}
      {% endif %}
      {% block content %}{% endblock content %}
    </div>

    <aside class="side right">
      {% block right_side %}
      {% endblock right_side %}
    </aside>
{% endblock main %}