{% import "macros/code-examples.html" as code_examples %}
{% extends "layouts/three-col.html" %}

{% block left_side %}
{% set examples_section = get_section(path="examples/_index.md") %}
<div class="outline">
  <div class="outline__content">
    <ul>
      {% for page in examples_section.pages %}
      <li>
        <a href="{{ page.permalink }}"
          class="outline-item {% if section_or_page and section_or_page.permalink == page.permalink %}active{% endif %}">{{
          page.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock left_side %}

{% block content %}
<article class="markdown-body">
  {{ code_examples::process_code_block(content=section_or_page.content) | safe }}
  <!-- {{ section_or_page.content | safe }} -->
</article>
{% endblock content %}