{% import "macros/examples-page-macros.html" as examples_macros %}

{% extends "layouts/three-col.html" %}

{% block left_side %}
{% set examples_section = get_section(path="examples/_index.md") %}
<div class="outline">
  <div class="outline__content">
    <ul>
      {{ examples_macros::render_nav(section=examples_section, current=section_or_page) }}
    </ul>
  </div>
</div>
{% endblock left_side %}

{% block content %}
<article class="markdown-body examples-article">
  {{ examples_macros::render_breadcrumbs(current=section_or_page) }}
  {{ examples_macros::process_code_block(content=section_or_page.content) | safe }}
  <!-- {{ section_or_page.content | safe }} -->
</article>
{% endblock content %}
