name: Github Pages

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
  
# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true
      
jobs:
  build:
    runs-on: ubuntu-22.04
    if: github.repository == 'AzurIce/ranim'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: wasm32-unknown-unknown

      - uses: taiki-e/install-action@v2
        with:
          tool: just, mdbook@0.5, zola, mdbook-katex@0.10.0-alpha, mdbook-mermaid@0.17, wasm-bindgen

      - uses: Swatinem/rust-cache@v2

      - name: Build wasm examples
        run: cargo examples build

      - run: just website

      - name: ⏫ Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v1.0.7
        with:
          path: ./website/public
  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: ☁️ Deploy GitHub Pages site
        id: deployment
        uses: actions/deploy-pages@v4
